*{
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 8%);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 20%);
    width: 370px;
}